img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}
*{
    box-sizing: border-box;
}
.nv-file-over{
    border: dotted 3px red;
    box-sizing: border-box;
}
input[type=file]{
    color: transparent;
}